@font-face {
  font-family: 'GoFono-icons';
  src:  url('fonts/GoFono-icons.eot?ikg215');
  src:  url('fonts/GoFono-icons.eot?ikg215#iefix') format('embedded-opentype'),
    url('fonts/GoFono-icons.ttf?ikg215') format('truetype'),
    url('fonts/GoFono-icons.woff?ikg215') format('woff'),
    url('fonts/GoFono-icons.svg?ikg215#GoFono-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="GoFono-"], [class*=" GoFono-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GoFono-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.GoFono-car-color .path1:before {
  content: "\e938";
  color: rgb(0, 158, 165);
}
.GoFono-car-color .path2:before {
  content: "\e939";
  margin-left: -1.5869140625em;
  color: rgb(0, 158, 165);
}
.GoFono-car-color .path3:before {
  content: "\e93a";
  margin-left: -1.5869140625em;
  color: rgb(0, 158, 165);
}
.GoFono-car-color .path4:before {
  content: "\e93b";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path5:before {
  content: "\e93c";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path6:before {
  content: "\e93d";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path7:before {
  content: "\e93e";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path8:before {
  content: "\e93f";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path9:before {
  content: "\e940";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path10:before {
  content: "\e941";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path11:before {
  content: "\e942";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path12:before {
  content: "\e943";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path13:before {
  content: "\e944";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-car-color .path14:before {
  content: "\e945";
  margin-left: -1.5869140625em;
  color: rgb(0, 225, 165);
}
.GoFono-mail-color .path1:before {
  content: "\e946";
  color: rgb(0, 225, 165);
}
.GoFono-mail-color .path2:before {
  content: "\e947";
  margin-left: -1.58984375em;
  color: rgb(0, 158, 165);
}
.GoFono-mail-color .path3:before {
  content: "\e948";
  margin-left: -1.58984375em;
  color: rgb(0, 158, 165);
}
.GoFono-mail-color .path4:before {
  content: "\e949";
  margin-left: -1.58984375em;
  color: rgb(0, 158, 165);
}
.GoFono-mail-color .path5:before {
  content: "\e94a";
  margin-left: -1.58984375em;
  color: rgb(0, 158, 165);
}
.GoFono-calendar-color .path1:before {
  content: "\e94b";
  color: rgb(0, 158, 165);
}
.GoFono-calendar-color .path2:before {
  content: "\e94c";
  margin-left: -1.04296875em;
  color: rgb(0, 158, 165);
}
.GoFono-calendar-color .path3:before {
  content: "\e94d";
  margin-left: -1.04296875em;
  color: rgb(0, 158, 165);
}
.GoFono-calendar-color .path4:before {
  content: "\e94e";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path5:before {
  content: "\e94f";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path6:before {
  content: "\e950";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path7:before {
  content: "\e951";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path8:before {
  content: "\e952";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path9:before {
  content: "\e953";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path10:before {
  content: "\e954";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path11:before {
  content: "\e955";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path12:before {
  content: "\e956";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path13:before {
  content: "\e957";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path14:before {
  content: "\e958";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path15:before {
  content: "\e959";
  margin-left: -1.04296875em;
  color: rgb(0, 225, 165);
}
.GoFono-calendar-color .path16:before {
  content: "\e95a";
  margin-left: -1.04296875em;
  color: rgb(0, 158, 165);
}
.GoFono-calendar-color .path17:before {
  content: "\e95b";
  margin-left: -1.04296875em;
  color: rgb(0, 158, 165);
}
.GoFono-pay-metodo-color .path1:before {
  content: "\e95c";
  color: rgb(0, 158, 165);
}
.GoFono-pay-metodo-color .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 225, 165);
}
.GoFono-transfer-color1 .path1:before {
  content: "\e95e";
  color: rgb(0, 225, 165);
}
.GoFono-transfer-color1 .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(0, 158, 165);
}
.GoFono-transfer-color1 .path3:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(0, 225, 165);
}
.GoFono-transfer-color1 .path4:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 158, 165);
}
.GoFono-Logo_1:before {
  content: "\e900";
}
.GoFono-bag:before {
  content: "\e901";
}
.GoFono-car:before {
  content: "\e902";
}
.GoFono-home:before {
  content: "\e903";
}
.GoFono-onOff:before {
  content: "\e904";
}
.GoFono-suport:before {
  content: "\e905";
}
.GoFono-up-down:before {
  content: "\e906";
}
.GoFono-user:before {
  content: "\e907";
}
.GoFono-wallet:before {
  content: "\e908";
}
.GoFono-answer .path1:before {
  content: "\e909";
  color: rgb(0, 225, 165);
}
.GoFono-answer .path2:before {
  content: "\e90a";
  margin-left: -0.9970703125em;
  color: rgb(0, 225, 165);
}
.GoFono-answer .path3:before {
  content: "\e90b";
  margin-left: -0.9970703125em;
  color: rgb(0, 158, 165);
}
.GoFono-answer .path4:before {
  content: "\e90c";
  margin-left: -0.9970703125em;
  color: rgb(0, 225, 165);
}
.GoFono-answer .path5:before {
  content: "\e90d";
  margin-left: -0.9970703125em;
  color: rgb(0, 158, 165);
}
.GoFono-answer .path6:before {
  content: "\e90e";
  margin-left: -0.9970703125em;
  color: rgb(0, 158, 165);
}
.GoFono-answer .path7:before {
  content: "\e90f";
  margin-left: -0.9970703125em;
  color: rgb(0, 158, 165);
}
.GoFono-chat .path1:before {
  content: "\e910";
  color: rgb(0, 225, 165);
}
.GoFono-chat .path2:before {
  content: "\e911";
  margin-left: -0.9765625em;
  color: rgb(0, 158, 165);
}
.GoFono-chat .path3:before {
  content: "\e912";
  margin-left: -0.9765625em;
  color: rgb(0, 158, 165);
}
.GoFono-chat .path4:before {
  content: "\e913";
  margin-left: -0.9765625em;
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path1:before {
  content: "\e914";
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path2:before {
  content: "\e915";
  margin-left: -1.0361328125em;
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path3:before {
  content: "\e916";
  margin-left: -1.0361328125em;
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path4:before {
  content: "\e917";
  margin-left: -1.0361328125em;
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path5:before {
  content: "\e918";
  margin-left: -1.0361328125em;
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path6:before {
  content: "\e919";
  margin-left: -1.0361328125em;
  color: rgb(0, 158, 165);
}
.GoFono-reclamo .path7:before {
  content: "\e91a";
  margin-left: -1.0361328125em;
  color: rgb(0, 225, 165);
}
.GoFono-reclamo .path8:before {
  content: "\e91b";
  margin-left: -1.0361328125em;
  color: rgb(0, 225, 165);
}
.GoFono-store-color .path1:before {
  content: "\e91c";
  color: rgb(0, 225, 165);
}
.GoFono-store-color .path2:before {
  content: "\e91d";
  margin-left: -1.140625em;
  color: rgb(0, 158, 165);
}
.GoFono-store-color .path3:before {
  content: "\e91e";
  margin-left: -1.140625em;
  color: rgb(0, 158, 165);
}
.GoFono-store-color .path4:before {
  content: "\e91f";
  margin-left: -1.140625em;
  color: rgb(0, 158, 165);
}
.GoFono-store-color .path5:before {
  content: "\e920";
  margin-left: -1.140625em;
  color: rgb(0, 158, 165);
}
.GoFono-store-color .path6:before {
  content: "\e921";
  margin-left: -1.140625em;
  color: rgb(0, 225, 165);
}
.GoFono-store-color .path7:before {
  content: "\e922";
  margin-left: -1.140625em;
  color: rgb(0, 225, 165);
}
.GoFono-transfer-color .path1:before {
  content: "\e923";
  color: rgb(0, 158, 165);
}
.GoFono-transfer-color .path2:before {
  content: "\e924";
  margin-left: -1.0283203125em;
  color: rgb(0, 158, 165);
}
.GoFono-transfer-color .path3:before {
  content: "\e925";
  margin-left: -1.0283203125em;
  color: rgb(0, 158, 165);
}
.GoFono-transfer-color .path4:before {
  content: "\e926";
  margin-left: -1.0283203125em;
  color: rgb(0, 225, 165);
}
.GoFono-transfer-color .path5:before {
  content: "\e927";
  margin-left: -1.0283203125em;
  color: rgb(0, 225, 165);
}
.GoFono-transfer-color .path6:before {
  content: "\e928";
  margin-left: -1.0283203125em;
  color: rgb(0, 225, 165);
}
.GoFono-up-down-color .path1:before {
  content: "\e929";
  color: rgb(0, 158, 165);
}
.GoFono-up-down-color .path2:before {
  content: "\e92a";
  margin-left: -0.8828125em;
  color: rgb(0, 158, 165);
}
.GoFono-up-down-color .path3:before {
  content: "\e92b";
  margin-left: -0.8828125em;
  color: rgb(0, 158, 165);
}
.GoFono-up-down-color .path4:before {
  content: "\e92c";
  margin-left: -0.8828125em;
  color: rgb(0, 225, 165);
}
.GoFono-up-down-color .path5:before {
  content: "\e92d";
  margin-left: -0.8828125em;
  color: rgb(0, 225, 165);
}
.GoFono-up-down-color .path6:before {
  content: "\e92e";
  margin-left: -0.8828125em;
  color: rgb(0, 225, 165);
}
.GoFono-up-down-color .path7:before {
  content: "\e92f";
  margin-left: -0.8828125em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path1:before {
  content: "\e930";
  color: rgb(0, 158, 165);
}
.GoFono-wallet-color .path2:before {
  content: "\e931";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path3:before {
  content: "\e932";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path4:before {
  content: "\e933";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path5:before {
  content: "\e934";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path6:before {
  content: "\e935";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path7:before {
  content: "\e936";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
.GoFono-wallet-color .path8:before {
  content: "\e937";
  margin-left: -1.34765625em;
  color: rgb(0, 225, 165);
}
